<!-- <% layout('../../template/ws-layout') -%> -->
<!-- -->

     <!-- PIE  -->
    
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <div class="clearfix"></div>

    <!-- Start Home -->
    <div class="pageheader fixed-demo dark">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading text-uppercase">Comparar PPCs</h2>
                  <!-- <h3 class="section-subheading text-muted">.</h3> -->
                </div>
              </div>
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="title">Escolha seu PPC.</h2>
                    <p> Analise suas opções.</p>     
                </div>
                <!-- <div class="col-sm-4">
                    <img src="/image/ws/boneco.png" style="width: 100px;">
                </div> -->
              </div>
        </div>
    </div>
    <!-- End Home -->

    <!-- Start Content -->
<div class="section gray padding-bot50">
        <div class="container" id="ppc-print">
            <!-- <h6 class="margin-top20">HTML</h6> -->
<!-- <pre style="color:#000000;background:#ffffff;"> -->
     <div class="row">
        <div class="col-sm-11">     
            <form>
            <!-- <div class="form-group" style=""> -->
            <select class="form-control " id = "sl-current-grid">
             <option selected id = "0" disabled="true">Selecione seu curso</option>
                <% for( var idDisc = 0; idDisc < cursos.length; idDisc++ ) { 
                    if ( cursos[idDisc].status == "ATIVO ANTERIOR" ) { %>
                    <option value = "<%= cursos[idDisc].cod_ppc %>" >
                      <%= cursos[idDisc].nome %> ( <%= cursos[idDisc].ch_total_curso %> horas )
                    </option>
                <% } 
                } %>
            </select> 
            <!-- </div> -->
            </form>
        </div>

        <div class="col-sm-1">
            <button id="toggle-button-current-grid" class="btn btn-danger ppcbutton" data-toggle="collapse" data-target="#canvas-current-grid" title="Ocultar/Mostrar PPC">
                <span  class="fas fa-eye"></span>
            </button>
        </div>
     </div><!-- /.row -->           
                    
    <div class="row">
        <div class="col-md-11" style="margin-top: 10px;">     
            <div class="progress" id = "cont-bar-progress-current-grid">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id = "bar-progress-current-grid"></div>
            </div>
        </div>
    </div>
 
   <div class="row">
        <div class="col-md-12">     
            <!-- <div class="comparacao"> -->
              <!-- <div class="jtk-demo-main"> -->
                
                <div id="canvas-current-grid" class="collapse">
                    
                    <div class="card">
                      <ul data-toggle="collapse" href="#legendaPPCatual" class="card-header"> 
                                    <span class="fas fa-chevron-down"></span> 
                                Legenda de cores</ul>

                      <div class="card-body collapse show" id="legendaPPCatual">
                        <div class="row">
                                <div class="col-md-4">
                                    <p><span id="apro100" class="fas fa-tint" 
                                        style="color: rgb(62,143,62);"></span>
                                        Disciplina Totalmente Aproveitada
                                    </p>
                                    <p><span id="apro50" class="fas fa-tint"
                                        style="color: #84ab0d;"></span>
                                        Disciplina Parcialmente Aproveitada
                                    </p>
                                   
                                </div> <!--coluna legenda -->
                                <div class="col-md-4">
                                    <p><span id="prereq" class="fas fa-tint"
                                    style="color: #006575;"></span>
                                    Disciplina Atual é Pré-requisito
                                    </p>
                                    <p><span id="prereq" class="fas fa-tint"
                                    style="color: #009eb6;"></span>
                                    Disciplina Atual é Pós-requisito
                                    </p>
                                </div>
                                <div class="col-md-4">
                                     <p><span id="perdido" class="fas fa-tint"
                                        style="color: #925b8e;"></span>
                                        Disciplina Eletiva
                                    </p>
                                    <p><span id="perdido" class="fas fa-tint"
                                        style="color: #ed9121;"></span>
                                        Disciplina aproveitada como optativa
                                    </p>
                                </div>
                        </div>
                      </div>
                    </div>

                    <!-- container ppc atual -->
                    <div class="jtk-demo-canvas canvas-wide statemachine-demo jtk-surface jtk-surface-nopan" id="current-grid">
                        <!-- <div class="row" id="periodos-current-grid"> 
                            
                        </div> -->

                    </div>     
                </div><!-- ocultado pelo botao hideshow-->
            <!-- </div>  comparacao -->
        </div><!-- col-md-12 -->
    </div>


                    <div class="row" style="margin-top: 30px"> 
                        <div class="col-md-11" >     
                            <form>
                            <div class="form-group" style="">
                            <select class="form-control " id = "sl-target-grid">
                             <option selected id = "0" selected id = "0" disabled="true">Selecione seu curso-alvo </option>
                                <% for( var idDisc = 0; idDisc < cursos.length; idDisc++ ) {
                                    if ( cursos[idDisc].status == "CORRENTE" && ( user.role == 'ADMIN' || user.role == 'SUPERVISOR' )  ) { %>
                                <option value = "<%= cursos[idDisc].cod_ppc %>" >
                                  <%= cursos[idDisc].nome %> ( <%= cursos[idDisc].ch_total_curso %> horas )
                                </option>
                                <% } } %>
                            </select> 
                            </div>
                            </form>
                        </div><!--col md 12-->
                        <div class="col-md-1">
                            <button  id="toggle-button-target-grid" class="btn btn-danger ppcbutton" data-toggle="collapse" data-target="#canvas-target-grid" title="Ocultar/Mostrar PPC">
                                <span class="fas fa-eye"></span>
                            </button>
                        </div> <!--Botao Ocultar/Mostrar-->   
                    </div><!-- /.row -->           
                    
                    <div class="row">
                        <div class="col-md-11" style="margin-top: 10px;">     
                            <div class="progress" id="cont-bar-progress-target-grid" >
                             <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id = "bar-progress-target-grid"></div>
                         </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">     
                            <div id="canvas-target-grid" class="collapse">
                                <!-- <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <ul data-toggle="collapse" href="#legendaPPCalvo">Legenda</ul>
                                        </h4>
                                    </div>
                                    <div id="legendaPPCalvo" class="panel-collapse collapse">
                                        <div class="panel-body">Panel Body</div>
                                    </div>
                                </div> -->
                                <!-- canvas ppc alvo -->
                                <div class="jtk-demo-canvas canvas-wide statemachine-demo jtk-surface jtk-surface-nopan" id="target-grid" ></div>
                                  
                                    <div class="card" id="cont-statistics-card">
                                      <ul data-toggle="collapse" href="#statistics-card" class="card-header"> 
                                                    <span class="fas fa-chevron-down"></span> 
                                                Estatísticas</ul>

                                      <div class="card-body collapse show" id="statistics-card">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h1 id="ppc-percent" class="display-1"></h1>
                                                <br><h6> do curso alvo completado </h6>
                                            </div>
                                            <div class="col-md-6">
                                                <div id="piechart" style="width: 400px; height: 200px;"></div>
                                            </div>
                                        </div>   
                                      </div>
                                    </div>

                            </div> <!-- ocultado pelo botao hideshow--> 

                            <!-- </div>  comparacao -->
                        </div><!-- col-md-1 -->
                    </div><!-- /.row -->     
        </div>
    </div>
    <!-- End Content -->


    <!-- <div class="clearfix"></div> -->
<% if ( user.role == 'ADMIN' || user.role == 'SUPERVISOR' ) { %>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    // google.charts.setOnLoadCallback(drawChart);

    function drawChart( statistics ) 
    {
      var data = google.visualization.arrayToDataTable(statistics);
      var options = {
          width: 500,
          height: 240,
          chartArea: {  width: "50%", height: "70%" },
          is3D: true,
            
          enableInteractivity: 'start',
          legend: 
          {
            position: 'right',
            alignment: 'start',
            layout: 'vertical',
            maxLines: 3,
            margin: -4,
            padding: 0,
            textStyle: {fontSize: 10}
          }

      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
</script>



<div id=ppc-tools-box>
        <div class="row">
            <div class="toggle">
                <input type="checkbox" id="auto-select-dependency">
                <label for="auto-select-dependency"></label>
            </div>
        </div>
        <div class="row">
            <button class="btn" id="ppc-print"> 
                <span class="fas fa-print"></span> 
            </button>
        </div>
        <div class="row">             
            <button class="btn" id="remove-cc-selected" title="Clear" disabled="true">                 
                <span class="fas fa-trash-alt"></span>             
            </button>         
        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="warning-auto-select" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Aviso</h5>
      </div>
      <div class="modal-body">
            Inferimos que você já cursou algumas disciplinas e as selecionamos automaticamente!
            Não se preocupe! Você pode desmarcar se não for este o caso.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Entendi</button>
      </div>
    </div>
  </div>
</div>
<%}%>