<!DOCTYPE html>
<html>
<head>
    <title><%=blocks.title%></title>

    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css"/>
</head>
<body>
<header>
    <%-blocks.header%>
</header>
<section class="container">

    <%-partial('views/partials/topNavigation')%>

    <h1><%=blocks.title%></h1>

    <%-body -%>
</section>
<footer>
    <%-blocks.footer%>
</footer>
</body>
</html>