<% layout('../../template/db-layout') -%>
        
    <div class="clearfix"></div>

    <!-- Start Home -->
    <div class="pageheader dashboard">
        <!-- <div class="container" >
        </div> -->
    </div>
    <!-- End Home -->

    <!-- Start Content -->

    <div class="section gray padding-bot50">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
                <h2 class="title">Painel de gerência</h2>
            </div>
            
          </div>
    <% if( user.role == 'ADMIN' ) { %> 
              <div class="row">
                <div class="col-sm-3">
                  <a href="/db/subject/">
                    <div class="card">
                      <img class="card-img-top" src="http://www.myiconfinder.com/uploads/iconsets/256-256-ba33c22572830316754a0293c91526b4-books.png" alt="Imagem de capa do card" style="width: 180px;">
                      <div class="card-body">
                        <h5 class="card-title">Disciplina</h5>
                        <p class="card-text">Faça cagadas com disciplinas e tudo o que quiser</p>
                      </div>
                  </a>
                    </div>
                </div>
              </div>
          

<!--             <h6 class="margin-top20">Cursos cadastrados</h6>
           <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Departamento Responsável</th>
                  <th scope="col">Qtd períodos</th>
                  <th scope="col">Carga Horária Total</th>
                </tr>
              </thead>
              <tbody>
                <% cursos.forEach( (curso) => {  %>
                <tr>
                  <th scope="row"> <%= curso.cod_curso%></th>
                  <td><a class="link-graduation"  href="#" onclick="criar_modal(<%=curso.cod_curso%>);"> <%= curso.nome%> </a></td>
                  <td> <%= curso.cod_depto_resp%></td>
                  <td> <%= curso.qtd_periodos%></td>
                  <td><%= curso.ch_total_curso%></td>
                </tr>
                    
                <% }) %>
              </tbody>
            </table>

            <form class="form-signin" action="/user/query" method="POST">            
              <div class="form-group">
                <label for="comment">Terminal:</label>
                <textarea class="form-control" rows="5" name="comment"></textarea>
              </div>
              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
            </form> -->

   <% } else {%> 
              <div class="alert alert-danger" role="alert">
                <strong>Acesso negado!</strong><br>
                    <h4> Seu nível de permissão não é adequado! :( </h4> <br> 
                    <h5>Seu Grant atual: <%= user.role %> </h5> 
              </div>
              <% } %>
            </div>
        </div>
     
    <!-- End Content -->

    <div class="clearfix"></div>
