<% layout('../../template/db-layout') -%>

    <div class="clearfix"></div>

    <!-- Start Home -->
    <div class="pageheader dashboard">
        <!-- <div class="container" >
        </div> -->
    </div>
    <!-- End Home -->



    <!-- Start Content -->

    <div class="section gray padding-bot50">
        <div class="container">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
    
    <% if( user.role != 'SUPERVISOR' ) { %> 
            <h6 class="margin-top20">Disciplinas cadastradas</h6>
           <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Departamento Responsável</th>
                  <th scope="col">Carga Horária</th>
                  <th scope="col">Ação</th>
                </tr>
              </thead>
              <tbody>
                <% disciplinas.forEach( (disc) => {  %>
                <tr>
                  <th scope="row"> <%= disc.cod_disciplina%></th>
                  <td><a class="link-graduation"  href="#" > <%= disc.nome%> </a></td>
                  <td> <%= disc.acronimo_depto%></td>
                  <td><%= disc.carga_horaria%></td>
                  <td>
                      <!-- <div class="row"> -->
                        <!-- <div class="col-md-4"> -->
                          <a class="btn btn-default btn-xs pull-right"><span class="red glyphicon glyphicon-remove"></span></a>
                        <!-- </div> -->
                        <!-- <div class="col-md-4"> -->
                          <a class="btn btn-default btn-xs pull-right"><span class="red glyphicon glyphicon-edit"></span></a>
                  </td>
                        <!-- </div> -->
                      <!-- </div> -->
                </tr>
                    
                <% }) %>
              </tbody>
            </table>

   <% } else {%> <h4>Acesso negado! Seu nível de permissão não é adequado!:(</h4> <br> <h5>Seu Grant atual: <%= user.role %> </h5> <% } %>
            </div>
        </div>
     
    <!-- End Content -->

    <div class="clearfix"></div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Disciplina > Nova</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form>
          <div class="form-row">
            <!-- <div class="form-group col-md-3">
              <label for="codigo">Código</label>
              <input type="number" class="form-control" id="codigo" placeholder="codigo">
            </div> -->
            <div class="form-group col-md-2">
              <label for="inputNome">Código</label>
              <input type="text" class="form-control" id="inputCodigo" placeholder="Código da disciplina">
            </div>

            <div class="form-group col-md-10">
              <label for="inputDepto">Departamento </label>
              <select class="form-control " id = "sl-current-grid"">
               <option selected id = "0">Selecione o Departamento</option>
                <% deptos.forEach( (item) => {%> 
                  <option value = "<%= item.cod_departamento %>" >
                      <%= item.nome %> ( <%= item.acronimo %> )
                    </option>
                <%})%>   
              </select> 
            </div>
          </div>
          
          <div class="form-row">
            <div class="form-group col-md-10">
              <label for="inputNome">Nome</label>
              <input type="text" class="form-control" id="inputNome" placeholder="Nome da disciplina">
            </div>
            <div class="form-group col-md-2">
              <label for="inputAddress2">CH</label>
              <input type="text" class="form-control" id="inputCH" placeholder="Carga Horária">
            </div>
         <!--  <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div> -->
          <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
      </div>
        </form>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>



   
 <a href="#" class="btn btn-default btn-xs">More Info</a>
              

